nav {
  background-color: #333;
  padding: 10px;
  position: fixed;
  top: 10px;
  left: 10px; /* 追加 */
  right: 10px; /* 追加 */
  z-index: 1000;
  border-radius: 20px; /* 上側だけを丸くする */
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin-right: 20px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  transition: transform 0.3s, background-color 0.3s;
}

a:hover {
  background-color: white;
  color: #333;
  transform: scale(1.1);
}

.nav-menu {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.logo {
  margin-right: auto;
  margin-left: 20px;
  height: 49px;
  z-index: -1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); /* 20px下に移動する */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* 元の位置に戻る */
  }
}

.content {
  animation: fadeIn 1s ease-in-out; /* フェードインのアニメーションを適用 */
  margin-top: 100px;
  padding: 20px;
}

.animate {
  animation: fadeIn 1s ease-in-out;
}
